<template name="megaHeader">

	<div class="editable">
	<div class="ui inverted center aligned large segment">

		<div class="ui container">
		<div class="ui secondary inverted pointing menu">
		    <img src="/images/your-logo.png" class="item">
		  <div class="stackable menu right">
			  <div class="item">Link</div>
			  <div class="item">Link</div>
			  <div class="item">Link</div>
		  </div>
		</div>
		</div>

			<h1 class="ui inverted header">Headline Goes Here</h1>
			<h2>More awesome text goes here under your headline</h2>
			<p>Add some more awesome text here!</p>
	</div>
	</div>
</template>

