<template name="twoColTextForm">

<div class="editable">
	<div class="ui container basic segment">

		<div class="ui equal width stackable grid">
		
			<div class="column">
				<h2>Some Text Goes Here</h2>
				<img width="400" height="400" src="/images/blank-img.jpg">
				<p>some more awesome text here. You should change this copy with your own.</p>
			</div>

			<div class="column">
			  <div id="lead-form" class="ui inverted segment">
			  <div class="ui large inverted form">

			      <div class="field">
			        <label>First Name</label>
			        <input placeholder="First Name" type="text">
			      </div>

			      <div class="field">
			        <label>Last Name</label>
			        <input placeholder="Last Name" type="text">
			      </div>

			    <div class="field">
				    <label>User Input</label>
				    <input type="text">
				</div>

				<div class="field">
				    <label>User Input</label>
				    <input type="text">
				</div>

				<div class="field">
				    <label>Additional Questions</label>
				    <textarea></textarea>
				</div>

			    <div class="ui submit button">Submit</div>
			  </div>
			  </div>
			</div>
		</div>
	</div>
</div>

</template>