body {
	background-color: #fff;
}

.canvas {
    background-color: #fff;
    padding: 25px 95px;
    width: 100%;
    float: none;
    border-radius: none;
    min-height: 1800px;
    margin: 20px 0;
}


#toolbar {
	padding: 0px;
	width: 200px;
	min-height: 1800px;
	float:left;
	border-radius:none;
}

#wrapper {
	margin: 0px;
	display: block;
	width: 100%;
}

#preview-wrapper {
	background-color: #fff;
	min-height: 500px;
	width: 100%;
	padding:15px;
	max-width: auto;
	margin: 0 auto;
}

.ui.segment {
	margin: 0;
}

.ui.segment:hover {
	border: 3px solid #8BC34A;
}

.ui.segment.large {
	margin: 0 0 25px 0;
	min-height: 600px;
}

.ui.inverted.segment > .ui.header {
	font-size: 4em;
	margin-top: 3em;
}

.ui.menu.fixed, 
.ui.menu.fixed .item:first-child, 
.ui.menu.fixed .item:last-child {
    color: #fff;
    background-color: #673AB7;
}

#lead-form {
	background-color: #F15757;
}

.ui.visible.right.overlay.sidebar {
    background-color: #333;
    width: 210px;
}

.show-elements {
    right: 0px;  
    z-index: 9999;
}

.hide-elements {
    right: 210px;  
    z-index: 9999;
}

#page-elements {
	padding: 5px 0 0 8px;
}

.element {
	padding: 0 0 5px 0;
}

#page-elements .element-style {
 	display: none;
 }

#page-elements .element-img {}

.canvas .element-style {}

.canvas img.element-img {
	display: none;
}


.fixed.launch.button {
    display: none;
    position: fixed;
    top: 4.9em;
    width: 55px;
    height: auto;
    white-space: nowrap;
}

.ui.right.attached.button {
    display: inline-block;
    padding-left: .75em;
    border-radius: .28571429rem 0 0 .28571429rem;
}

.ui.green.button, .ui.green.buttons .button {
    background-color: #8BC34A;
    color: #FFF;
    text-shadow: none;
    background-image: none;
    font-size: 14px;
}