<template name="livePreview">
	
	<div id="preview-wrapper">

	<div class="ui basic inverted center aligned large segment">

		<div class="ui container">
		<div class="ui secondary inverted pointing menu">
		    <img src="/images/your-logo.png" class="item">
		  <div class="menu right">
			  <a class="item">Link</a>
			  <a class="item">Link</a>
			  <a class="item">Link</a>
		  </div>
		</div>
		</div>

			<h1 class="ui inverted header">Headline Goes Here</h1>
			<h2>More awesome text goes here under your headline</h2>
			<p>Add some more awesome text here!</p>
	</div>

	<div class="ui vertical stripe segment">
			<div class="ui equal width stackable internally grid">
				
			</div>

	</div>

	<div class="ui basic center aligned segment">
			<div class="ui header">Headline Goes Here</div>
	</div>

	</div>

</template>  