<template name="topMenu">

<div id="top-menu" class="ui top fixed menu">
  <a id="toggle-menu" class="item">
    <i class="sidebar icon"></i>
    Menu
  </a>
</div>

  <div class="ui inverted vertical sidebar menu">
    <a class="item">
      <i class="home icon"></i>
      Dashboard
    </a>
    <a class="item">
      <i class="block layout icon"></i>
      Pages
    </a>
    <a class="item">
      <i class="smile icon"></i>
      Forms
    </a>
    <a class="item">
      <i class="calendar icon"></i>
      Contacts
    </a>
  </div>

</template>